@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    width: 100%;
    position: relative;
}

nav {
    width: 100%;
    z-index: 1000;
    top: 0;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
    box-shadow: 3px 3px 15px rgb(0, 0, 0, 0.1);
    height: 4rem;
    position: sticky;
    padding: 0 30px;
    transition: transform 0.4s ease;
}

nav.hide {
    transform: translateY(-100%);
}

.logo {
    width: 50px;
    height: 14px;
}

.navbar {
    max-width: 990px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav-actions {
    height: 100%;
    align-items: center;
    display: flex;
    gap: 1.25rem;
}

.nav-link {
    font-size: 1.1rem;
    font-weight: 400;
    color: #1E201E;
    text-decoration: none;
    transition: color 0.3s ease;
}


.nav-button-dark {
    padding: 0.4rem 1.3rem;
    background-color: #181C14;
    border-radius: 50px;
    font-size: .9rem;
    font-weight: 600;
    color: #ECDFCC;
    text-decoration: none;
    transition: all 0.3s ease;
}

.nav-button-dark:hover {
    transform: scale(0.95);
}

.nav-button-gray {
    padding: 0.4rem 1.25rem;
    border-radius: 50px;
    border: 2px solid #181C14;
    font-size: .9rem;
    font-weight: 600;
    color: #181C14;
    text-decoration: none;
    transition: all 0.3s ease;
}

.nav-button-gray:hover {
    transform: scale(0.95);
}

.nav-link:hover {
    color: #3C3D37;
}

.hero {
    padding: 4rem 2rem 0;
    margin-bottom: 2rem;
}

.hero-header {
    font-size: clamp(2.625rem, 9.22vw, 3.5rem);
    font-weight: 400;
    color: #181C14;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 2rem;
}

.swiper-header {
    font-size: clamp(2.625rem, 9.22vw, 3.5rem);
    font-weight: 400;
    color: #181C14;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    margin: 2rem auto;
    text-align: center;
    max-width: 1200px;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background: linear-gradient(to bottom right, rgba(63, 7, 174, 0.681), rgba(255, 255, 255, 0.412), rgba(255, 255, 255, 0));
}



.hero-text {
    font-size: 1.125rem;
    color: #3C3D37;
    font-weight: 450;
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.6rem;
}

.button-lg {
    font-size: 1rem;
    color: #ECDFCC;
    font-weight: 600;
    text-align: center;
    padding: 1rem 1.3rem;
    background-color: #181C14;
    border-radius: 50px;
    text-decoration: none;
    transition: all 0.5s ease;
}

.button-lg-outline {
    font-size: 1rem;
    width: fit-content;
    color: #181C14;
    font-weight: 600;
    text-align: center;
    padding: 1rem 1.3rem;
    background-color: #f7f7f3;
    border-radius: 50px;
    text-decoration: none;
    border: 2px solid #181C14;
    transition: transform 0.3s ease;
}

.button-lg-outline:hover {
    transform: scale(0.95);
}



.hero-button-container {
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}


.button-lg:hover {
    transform: scale(0.95);
}


.media {
    width: 100%;
    margin: 4rem auto;
    overflow: hidden;
}

.media img {
    width: 100%;
}

.section {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.section .left {
    width: 50%;
    height: 100%;
}

.heading {
    font-size: clamp(1.8rem, 2vw, 2.5rem);
    font-weight: 500;
    color: #181C14;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.9rem;
}

.text {
    font-size: 1.3rem;
    color: #393939;
    font-weight: 400;
    max-width: 750px;
    line-height: 1.7rem;
}

.section .right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: auto;
    padding: 1rem;
}



.swiper {
    width: 100%;
    padding: 0 2rem;
}

.swiper-slide {
    border-radius: 15px;
    padding: 1.5rem;
    flex-direction: column;
}

.swiper-slide img {
    width: 100%;
    border-radius: 15px;
}

.button-md-outline {
    font-size: 1rem;
    padding: 4px 10px;
    border-radius: 50px;
    border: 2px solid #181C14;
    color: #181C14;
    font-weight: 500;
    text-decoration: none;
}

.next-prev {
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.open-menu {
    display: none;
}

.next-prev button {
    color: #393939;
    font-size: 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.swiper1-left.is-disabled,
.swiper1-right.is-disabled {
    opacity: 0.3;
    cursor: not-allowed;
    pointer-events: none;
    /* bosilmasin */
}

@media screen and (min-width: 1024px) {
    nav {
        height: 5rem;
    }
}

.close-menu {
    display: none;
}



@media screen and (max-width: 800px) {
    .nav-actions {
        display: none;
    }

    nav {
        position: relative;
    }

    .close-menu {
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }

    .close-menu button {
        display: flex;
        align-items: center;
        width: 42px;
        height: 42px;
        justify-content: center;
        font-size: 1rem;
        color: #181C14;
        font-weight: 600;
        background-color: transparent;
        border-radius: 100px;
        border: none;
        cursor: pointer;
    }

    .close-menu button:hover {
        background-color: #bfbebe;
    }


    body.no-scroll {
        overflow: hidden;
    }

    .open-menu {
        display: flex;
        align-items: center;
        width: 42px;
        height: 42px;
        justify-content: center;
        font-size: 1.5rem;
        color: #181C14;
        font-weight: 600;
        background-color: transparent;
        border-radius: 6px;
        border: none;
        cursor: pointer;
    }

    .open-menu:hover {
        background-color: #bfbebe;
    }

    .nav-actions.open {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 1.5rem;
        align-items: flex-start;
        position: absolute;
        width: 100%;
        height: 100vh;
        background: white;
        top: 0;
        left: 0;
        z-index: 2000;
    }

    .section {
        flex-direction: column;
    }

    .section .left {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .section .left img {
        max-width: 420px;
    }

    .section .right {
        width: 100%;
        max-width: 420px;
        margin: 0 auto;
    }

    .section .right .text {
        font-size: 1.125rem;
        line-height: 1.5rem;
    }

    .media {
        margin: 4rem auto 0;
    }
}